body{
    background-color: white;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 15px; /* spacing between cards */
  margin-top: 50px;
  margin-bottom: 50px;

}


