body{
    
    width: 100vw;
    height: 100vh;
    margin-left: -10px;
    margin-top:-20px;
}

.Home{
  padding-bottom:100px;
  background: linear-gradient(to bottom, rgb(255, 252, 243) 60%, #ffd154 100%);
}
.card-list {
  max-width:80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 150px; /* spacing between cards */
  margin: 0 auto;
  margin-top: 100px;
  
}
