.btn-container{
  margin-top: 50px;
  gap: 10px;

}

.header {
  background: linear-gradient(to bottom right, #ffbd00, rgb(244, 173, 173) 70%);
  color: white;
  font-family: Arial, sans-serif;
  padding-bottom: 7rem;
  padding-top: 5rem;
  margin: 0 auto;
  width: 100vw;
}

/**{
  border: 1px dashed red;
}*/

h1{
  font-size:7rem;
  margin-bottom:0px;
}

h2{
  font-size:2rem;
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}